{% load static i18n %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'register/main.css' %}">

    {% if title %}
        <title>{% trans "Đăng ký" %} - {{ title }}</title>
    {% else %}
        <title>{% trans "Đăng ký" %}</title>
    {% endif %}
</head>
<body>
    <div class="jumbotron text-center">
      <h1>St. Ignatius Church</h1>
      <h4>{% trans "Tất cả là để bảo vệ cuộc sống và sức khoẻ của cộng đồng Công Giáo chúng ta" %}</h4>
    </div>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'register-home' %}">{% trans "Đăng ký Thánh Lễ" %}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'my-register' %}">{% trans "Thánh Lễ của tôi" %}</a>
              {% endif %}
              <a class="nav-item nav-link" href="{% url 'register-about' %}">{% trans "Hướng dẫn" %}</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">{% trans "Thông tin cá nhân" %}</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">{% trans "Đăng xuất" %}</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">{% trans "Đăng nhập" %}</a>
                <a class="nav-item nav-link" href="{% url 'userregister' %}">{% trans "Tạo tài khoản" %}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
              {% for message in messages %}
                 <div class="alert alert-{{ message.tags}}">
                   {{ message }}
                 </div>
              {% endfor%}
          {% endif %}
          {% if user.is_authenticated %}
          {% else %}
            <div class="alert alert-danger text-center" >
              {% trans "Xin hay đăng nhập để đăng ký tham dự Thánh Lễ" %} <a class="nav-item nav-link" href="{% url 'login' %}">{% trans "Đăng nhập" %}</a>
              {% trans "Hoặc tạo một tại khoản mới tại đây " %}<a class="nav-item nav-link" href="{% url 'userregister' %}">{% trans "Tạo tài khoản mới" %}</a>
            </div>
          {% endif%}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>{% trans "Truyền thông kanto" %}</h3>
            <p class='text-muted'> 
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">{% trans "Lịch phụng vụ" %}</li>
                <li class="list-group-item list-group-item-light">{% trans "Giới trẻ" %}</li>
                <li class="list-group-item list-group-item-light">{% trans "Sự kiện sắp tới" %}</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
