{% extends "registration/base.html" %}
{% block content %}
    <h4>Participants will be accommodated by "first come, first serve" basis.</h4><br>
    <p>Before registering, please make sure that you have read out the following rules and regulations for attending the mass found in the following link: </p>
    <a class="nav-item nav-link" href="https://drive.google.com/file/d/13pZXZQESWZBYUuu6ooxUhVIhk4CLTEf0/view?usp=sharing">Rules and regulations for attending the mass, please read!</a>
    <br>
    <h1>IMPORTANT REMINDERS:</h1>
    <p>1. You may only register one person per registration. If you wish to register another person, please accomplish the online registration twice.</p>
    <p>2. Make sure you input the correct email address. A copy of your responses will be sent to your email address right after you have registered. <br>If you receive this email, it means that your registration was done successfully.</p>
    <p>3. You will receive final instructions and your seat number by email by Saturday night. </p>
    <p>4. Make sure to come at least 30 minutes before the scheduled mass. Late comers will not be accepted. Doors of the church will be closed once the mass has started.</p>
    <p>If you're late, please consider going to other masses:  Spanish mass at 1:30 p.m., Vietnamese mass at 3:00 pm, English Mass at 4:30 p.m., and Japanese mass at 6:00 p.m.</p>
    <p>5. In the event that you shall not be able to attend after registering, please cancel your registration by emailing us at siiyministry@gmail.com. 
        Should you are not able to cancel your registration and you do not show up at church for the mass, we may no longer accept your future registration requests.</p>
{% endblock content %}
