{% extends "registration/base.html" %}
{% load mathfilters i18n %}
{% block content %}
    {% for event in events %}
      <br>
      <div class="card bg-light">
            <img class="card-img-top" src="/media/{{ event.event_image }}" alt="{{ mass.mass_title }}">
            <div class="card-body  text-center">
              <h5 class="card-text">{% trans "Tổng số ghế: " %}{{ event.event_slots }}</h5>
              <h5 class="article-content">{% trans "Số ghế còn lại: " %}{{ event.event_slots|sub:event.event_slots_registered}}</h5>
              <div class="row">
                  <div class="col-6 text-center">
                      {% if event.event_slots_registered < event.event_slots %}
                      <a href="{% url 'register-create' event.id %}" class="btn btn-info">{% trans "Đăng ký" %}</a>
                      {% endif %}
                  </div>
                  <div class="col-6 text-center">
                      <a href="{% url 'register-create' event.id %}" class="btn btn-info">{% trans "Bài đọc" %}</a>
                  </div>
              </div>
            </div>
      </div>
    {% endfor %}
{% endblock content %}