{% extends "registration/base.html" %}
{% load qr_code %}
{% block content %}
    {% for booking in mybooking %}
      <br>
      <div class="card-deck">
          <div class="card bg-light">
            <div class="card-body  text-center">
              <h3 class="card-title">{{ booking.booking_event.event_title }}</h3>
              {% if booking.booking_status == 'A' %}
                <h4>Your reservation code here</h4>
                <img src="{% qr_url_from_text booking.booking_code %}" alt="Hello World!">
              {% endif %}
              <h4 class="card-title">Your seat no: {{ booking.booking_seat.seat_no }}</h4>
              <h5 class="card-text"><a class="nav-item nav-link" href="{{ booking.booking_event.event_online_url }}">Online Streaming </a></h5>
              <h5 class="article-content">Registered on: {{ booking.booking_date }} </h5>
              <h5 class="article-content">Status: {{ booking.get_booking_status_display }} </h5>
              <a href="#" class="btn btn-info">Cancel</a>
            </div>
          </div>
      </div>
    {% endfor %}
{% endblock content %}