{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="card bg-light">
            <div class="card-header text-center"><h3>You are registering for this Mass</h3></div>
            <img class="card-img-top" src="/media/{{ event.event_image }}" alt="{{ mass.mass_title }}">
            <div class="card-body  text-center">
              <h4 class="card-text">{{ event.event_title }}</h4>
              <h5 class="success"> Please confirm your heath condition!</h5>
            </div>
        </div><br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="user_temp">Your body recent temperature</label>
                <input type="number" class="form-control" name="user_temp" id="user_temp">
            </div>
            <div class="form-group">
                <label for="user_temp_check_date">The day your have checked</label>
                <input type="date" class="form-control" name="user_temp_check_date" id="user_temp_check_date">
            </div>
            <div class="form-group text-center">
                <input type="hidden" name="event_id" id="event_id" value="{{ event.id }}" readonly />
                <button class="btn btn-outline-info" type="submit">Register</button>
                <button class="btn btn-outline-danger" href="{% url 'register-home' %}">Cancel</button>
            </div>
        </form>
    </div>
{% endblock content %}